<div class="outer-box">
    <div class="main">
        <div class="column-center">
            <span style="color:#4285f4;">F</span>
            <span style="color:#ea4335;">u</span>
            <span style="color:#fbbc05;">n</span>
            <span style="color:#4285f4;">d</span>
            <span style="color:#34a853 ;">o</span>
            <span style="color:#ea4335;">o</span>
            <h1 class="second-heading">Find your email</h1>
            <p class="third-heading">Enter your phone number or recovery email</p>
            <p>
                <mat-form-field appearance="outline" class="textbar">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </p>
            <div class = "new-link">
                <button mat-raised-button color="primary" class="button">Submit</button>
            </div>
        </div>
    </div>

</div>
