.outer-box{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main{
    align-content: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    padding: 30px 24px 36px;
    width: 400px;
    margin: auto;
    z-index: 2;
    overflow: hidden;
}

.column-center{
    text-align: center;
}

span{
    font-size: 20px;
}

.second-heading{
    color: #202124;
    font-family: 'Google Sans',arial,sans-serif;
    padding-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    padding-top: 10px;
}

.textbox{
    display: inline-flex;
    width: min-content;
    margin: 5px;
}

.textbar{
    width: 350px;
}

.fieldsize{
    width: 12em;
}

.button{
    float: right;
    margin-right: 10px;
    padding: 0 30px;
    margin-top: -5px;
    background-color: #4688F1;
}

.link{
    text-align: left;
    margin-bottom: 10px;
}

a:link{
    text-decoration: none;
}

.link span{
    font-size: 16px;
}

.new-link{
    text-align: left; 
    margin: 0;
}

.new-link span{
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
}

.textbox1{
    display: inline-flex;
    width: min-content;
}

@media screen and (max-width:600px){

    .main{
        align-content: center;
        border: none;
        border-radius: inherit;
        display: flex;
        padding: 0;
        width: auto;
        margin: auto;
        z-index: 2;
        overflow: hidden;
    }
}

@media screen and (max-width:320px){
    .textbar{
        width: 300px;
    }
}