<div class="outer-box">
    <div class="main">
        <div class="column-center">
            <span style="color:#4285f4;">F</span>
            <span style="color:#ea4335;">u</span>
            <span style="color:#fbbc05;">n</span>
            <span style="color:#4285f4;">d</span>
            <span style="color:#34a853 ;">o</span>
            <span style="color:#ea4335;">o</span>
            <h1 class="second-heading">Reset Password</h1>
            <p class="third-heading">Create a strong password</p>
            <form [formGroup]="myForm">
                <p class="textbox1">
                    <mat-form-field appearance="outline" class="textbar">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" required>
                        <mat-error *ngIf = "myForm.hasError('required','newPassword')">
                            Please enter your password     
                         </mat-error>
                        <button mat-icon-button matSuffix (click) = "hide = !hide" 
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>
                                {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                    </mat-form-field>
                </p>
                <p class="textbox1">
                    <mat-form-field appearance="outline" class="textbar">
                        <mat-label>Confrim Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="myForm.hasError('notSame')">
                            Passwords do not match
                        </mat-error>
                        <button mat-icon-button matSuffix (click) = "hide = !hide" 
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>
                                {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                    </mat-form-field>
                </p>
                <div class = "new-link">
                    <button mat-raised-button color="primary" (click)="reset()" class="button">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>

